@import url("pygment.css");

$serif-fonts: Merriweather, Times, serif;
$sans-fonts: Open Sans, sans-serif;

$main-color: #61a0ff;
$text-color: #565656;


body {
	margin: 30px 0px 0px 0px;
	padding: 0;

	color: $text-color;
	background: #fafafa;

	font-family: $sans-fonts;
	font-size: 14px;
}
.summary h2{color:black;font-size:1.6em; }
h1, h2, h3 {
	margin: 0;
	padding: 0;

	color: #2d3844;

	font-weight: normal;
}

p, ul, ol {
	margin-top: 0;

	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;

	color: $main-color;
}

a:hover {
}

div#lable{
	position: absolute;

	display: block;
	float: right;

	text-decoration: none;

	font-family: $sans-fonts;
	font-size: 300%;
}


/*
██       ██████   ██████   ██████
██      ██    ██ ██       ██    ██
██      ██    ██ ██   ███ ██    ██
██      ██    ██ ██    ██ ██    ██
███████  ██████   ██████   ██████
*/

#logo {
	margin: 0;
	padding: 0;

	color: $main-color;
}

#logo h1, #logo p {
	margin: 0%;
	margin-left: -32%;
	padding: 0;

	text-align: center;

	font-family: $serif-fonts;
	font-weight: lighter;
}

#logo h1 {
	margin: 0px;
	padding: 0px;

	color: $main-color;

	font-size: 300%;
}

#logo h1 a {
	color: $main-color;
}

#logo p {
	margin: 0px;
	padding: 0px;

	font-size: 26px;
}

#logo a {
	text-decoration: none;

	color: $main-color;
	border: none;
	background: none;
}

/*
███████ ███████  █████  ██████   ██████ ██   ██
██      ██      ██   ██ ██   ██ ██      ██   ██
███████ █████   ███████ ██████  ██      ███████
     ██ ██      ██   ██ ██   ██ ██      ██   ██
███████ ███████ ██   ██ ██   ██  ██████ ██   ██
*/

#search {
	width: 280px;
	height: 50px;
	padding: 20px 0px 0px 0px;

	background: $main-color no-repeat left 15px;
}

#search form {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;

	border: none;
}

#search-text {
	width: 190px;
	padding: 0px 5px 2px 10px;

	text-transform: lowercase;

	color: $main-color;
	border: none;
	background: none;

	font: normal 11px $sans-fonts;
}

#search-submit {
	width: 70px;
	height: 22px;

	text-indent: -9999%;

	color: $main-color;
	border: none;
	border: none;
	background: none;
}

/*
███    ███ ███████ ███    ██ ██    ██
████  ████ ██      ████   ██ ██    ██
██ ████ ██ █████   ██ ██  ██ ██    ██
██  ██  ██ ██      ██  ██ ██ ██    ██
██      ██ ███████ ██   ████  ██████
*/

#menu {
	width: 280px;
	margin: 20px auto 20px auto;
	padding: 0;
}

#menu ul {
	margin: 0%;
	padding: 50px 0px 0px 0px;

	list-style: none;

	line-height: normal;
}

#menu li {

}

#menu a {
	display: block;

	width: 260px;
	height: 27px;
	margin: 0.5% 0px;
	padding: 8px 0px 0px 20px;

	text-decoration: none;
	text-transform: capitalize;

	color: $text-color;

	font-family: $sans-fonts;
	font-size: 14px;
	font-weight: normal;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;

	color: #40a4e4;
}

#menu .current_page_item a {
	display: block;

	text-decoration: none;
}

/*
██████   █████   ██████  ███████
██   ██ ██   ██ ██       ██
██████  ███████ ██   ███ █████
██      ██   ██ ██    ██ ██
██      ██   ██  ██████  ███████
*/

#page {
	width: 80%;
	margin: 0 auto;

	background: rgb(255, 255, 255);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

a.tag-list{
	margin-right: 1%;
	padding: 1%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;

	transition: all 0.3s;

	color: rgb(255, 255, 255);
	border-radius: 2px;
	background-color: $main-color;
}

a.tag-list:hover{
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
a.tag-list:active{
	color: $main-color;
	border: 1px solid $main-color;
	background-color: rgb(255, 255, 255);
}

/*
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████
██      ██    ██ ████   ██    ██    ██      ████   ██    ██
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██
*/

#content {
	float: right;

	width: 60%;
	padding: 8% 11% 0% 0%;
}

.post {
	margin-bottom: 10%;

	hr{
		border-style: dotted;
	}
}

.post .title {
	padding: 0%;
	padding-bottom: 2%;

	letter-spacing: -.5px;

	color: $main-color;

	font-family: $serif-fonts;
	font-size: 3.4em;
	font-weight: lighter;
}

.post .title a {
	color: $main-color;
	border: none;
}

.post .meta {
	margin-bottom: 0px;
	padding: 0% 0% 0% 0%;

	text-align: left;

	font-family: $sans-fonts;
	font-size: 14px;
	font-weight: normal;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;

	text-align: justify;

	color: $text-color;
	border-bottom: 4px dotted $text-color;

	font-family: $serif-fonts;
	font-size: 1.4em;
	font-weight: lighter;
}
.post .entry dt {
    font-weight:bold ;
}
.post .entry a{
	transition: all 0.3s;
}
.post .entry a:hover{
	padding: 0.5%;

	color: rgb(255, 255, 255);
	border-radius: 2px;
	background-color: $main-color;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.post img {
	display: block;

    margin:4%;
	margin-right: auto;
	margin-left: auto;

    border: 10px solid rgb(255, 255, 255);
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.post img:hover{
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.33);
}

a.readmore {
	padding: 1%;

	color: #fff;
	border-radius: 4px;
	background-color: $main-color;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
a.readmore:hover{
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.summary img{
    display:none;
}
.entry h1{
	margin-top: 4%;
	margin-bottom: 4%;

	text-align: center;

    color: #1e3037;

	font-family: $serif-fonts;
	font-size: 2.4em;
	font-weight: normal;
}
.entry h2{
	margin-top: 3%;
	margin-bottom: 3%;

	text-align: left;

    color: #2a2f36;

	font-family: $serif-fonts;
    font-size: 1.9em;
	font-weight: normal;
}

.entry h3{
	margin-top: 3%;
	margin-bottom: 2%;

	text-align: left;

    color: #2a2f36;

	font-family: $serif-fonts;
    font-size: 1.7em;
	font-weight: normal;
}
.entry h4{
	margin-top: 2%;
	margin-bottom: 2%;

	text-align: left;

    color: #2a2f36;

	font-family: $serif-fonts;
    font-size: 1.6em;
	font-weight: normal;
}
.entry h5{
	margin-top: 1%;
	margin-bottom: 2%;

	text-align: left;

	color: #2a2f36;

	font-family: $serif-fonts;
    font-size: 1.5em;
	font-weight: normal;
}
.entry h6{
	margin-top: 1%;
	margin-bottom: 2%;

	text-align: left;

	color: #2a2f36;

	font-family: $serif-fonts;
    font-size: 1.4em;
	font-weight: normal;
}
.entry blockquote{
	margin: 2%;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 2%;

	color: rgb(142, 121, 115);
	background-color: rgb(255, 240, 231);
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);

	font-style: italic;

	p{
		margin: 0;
	}
	h1{
		text-align: left;

		font-size: 1.6em;
	}
	h2{
		font-size: 1.5em;
	}
	h3{
		font-size: 1.4em;
	}
	h4{
		font-size: 1.3em;
	}
}
.entry blockquote:hover{
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.33);
}

h2.title {
    font-size:2.8em;
}

.highlight{
    overflow: auto;

	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 2.4%;

	border-left: solid 4px $main-color;
	background-color: #fff;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);

	font-size: 0.8em;
}

.highlight:hover{
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.33);
}
.links {
	padding-top: 20px;

	font-size: 12px;
	font-weight: bold;
}

/*
███████ ██ ██████  ███████ ██████   █████  ██████
██      ██ ██   ██ ██      ██   ██ ██   ██ ██   ██
███████ ██ ██   ██ █████   ██████  ███████ ██████
     ██ ██ ██   ██ ██      ██   ██ ██   ██ ██   ██
███████ ██ ██████  ███████ ██████  ██   ██ ██   ██
*/

#sidebar {
	float: left;

	width: 10%;
	margin: 0px;
	padding: 4%;

	text-overflow: clip;

	color: rgba(120, 120, 120, 0.48);
	border-right: 4px solid $main-color;
}
#sidebar:hover{
	color: rgba(120, 120, 120, 1);
}

#sidebar ul {
	margin: 0;
	padding: 0;

	list-style: none;

	color: rgba(120, 120, 120, 0.48);
}
#sidebar ul:hover{
	color: rgba(120, 120, 120, 1);
}
#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px 0px 20px;
	padding-bottom: 30px;
}

#sidebar li li {
	border-left: none;

	line-height: 35px;
}

#sidebar li li span {
	display: block;

	margin-top: -20px;
	padding: 0;

	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	text-decoration: none;

	color: inherit;
}

#sidebar li li a:hover {
	color: $main-color;
}
#sidebar h2 {
	height: 32px;

	color: rgba(0, 0, 0, 0.5);

	font-size: 1.2em;
}
#sidebar h2:hover{
	color: rgba(48, 61, 92, 0.86);
}
#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
}

#sidebar a {
	color: rgba(0, 0, 0, 0.5);
	border: none;
}

#sidebar a:hover {
	color: $main-color;
}

/*
████████  █████   ██████      ██████   █████   ██████  ███████
   ██    ██   ██ ██           ██   ██ ██   ██ ██       ██
   ██    ███████ ██   ███     ██████  ███████ ██   ███ █████
   ██    ██   ██ ██    ██     ██      ██   ██ ██    ██ ██
   ██    ██   ██  ██████      ██      ██   ██  ██████  ███████
*/

ul#tag-page {
	padding-top: 4%;

	list-style: none;

	text-decoration: none;
}
#tag-page li{
	padding-top: 10px;

	font-size: 22px;
}
#tag-page > li > a{
	margin-right: 1%;
	padding: 1%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;

	transition: all 0.3s;

	color: rgb(255, 255, 255);
	border-radius: 2px;
	background-color: $main-color;
}

#tag-page > li > a:hover{
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
#tag-page > li > a:active{
	color: $main-color;
	border: 1px solid $main-color;
	background-color: rgb(255, 255, 255);
}

/*
 ██████  █████  ██      ███████ ███    ██ ██████   █████  ██████
██      ██   ██ ██      ██      ████   ██ ██   ██ ██   ██ ██   ██
██      ███████ ██      █████   ██ ██  ██ ██   ██ ███████ ██████
██      ██   ██ ██      ██      ██  ██ ██ ██   ██ ██   ██ ██   ██
 ██████ ██   ██ ███████ ███████ ██   ████ ██████  ██   ██ ██   ██
*/

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/*
 █████  ██████   ██████ ██   ██ ██ ██    ██ ███████
██   ██ ██   ██ ██      ██   ██ ██ ██    ██ ██
███████ ██████  ██      ███████ ██ ██    ██ █████
██   ██ ██   ██ ██      ██   ██ ██  ██  ██  ██
██   ██ ██   ██  ██████ ██   ██ ██   ████   ███████
*/

div#article-section > div{
	margin: 0px;

	text-align: center;

	font-size: 18px;
}

dl > h2.Archives-title {
	padding-bottom: 2%;

	color: rgb(33, 33, 33);
	border-bottom: 4px solid $main-color;

	font-size: 3em;
}

div#article-section{
	margin: 20px 0px;
	padding: 12px 0px;

	text-align: center;
}
div#article-section:hover{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.27);
}
div#article-title > a{
	color: $main-color;

	font-family: $sans-fonts;
	font-size: 32px;
	font-weight: lighter;
}

/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/

#footer {
	text-align: center;

	font-family: $sans-fonts;
}

#footer p {
	margin: 0%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;

	text-align: center;
	text-transform: uppercase;

	color: #4b5570;

	font-size: 0.8em;
	line-height: normal;
}

#footer a {
	color: #333746;
}
